@import "tailwindcss";

html{
  scrollbar-color: red rgba(255, 255, 0, 0);
  scrollbar-width: thin ; 
}

body {
    scrollbar-color: #9ca3af00 #f3f4f600;
    scrollbar-width: thin ;
}

.scrollbar-left {
  direction: rtl;
  overflow: auto;
}

.scrollbar-left {
  direction: rtl;
  overflow: auto;
}

.scrollbar-left > * {
  direction: ltr;
  text-align: left;
}

body {
  background-color: rgb(229 231 235);
}