@import "tailwindcss";

body {
    scrollbar-color: #9ca3af00 #f3f4f600;
    scrollbar-width: auto ;
}
.scrollbar-left {
  direction: rtl;
  overflow: auto;
}

.scrollbar-left {
  direction: rtl;
  overflow: auto;
}

.scrollbar-left > * {
  direction: ltr;
  text-align: left;
}
